* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1248px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  // border: 3px solid black;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  width: 100%;
  background: #1b0808ab;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid red;
  .nav__collection {
    display: flex;
    align-items: center;
    gap: 50px;
    a {
      color: rgb(177, 218, 238);
    }
  }
}

.nav__btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background: rgb(5, 55, 55);
  transition: 1.1;
  color: white;
  &:hover {
    cursor: pointer;
    background: rgba(30, 143, 255, 0.658);
  }
}

.background__bg {
  width: 100%;
  background: rgb(5, 55, 72);
  height: 920px;
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .hero__box {
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 35px;
      .hero__hi {
        width: 195px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
        background: rgb(9, 69, 86);

        i {
          color: white;
          font-size: 24px;
        }
      }
      b {
        font-size: 64px;
        color: white;
      }
      p {
        font-size: 18px;
        color: gray;
      }
      .hero__btn {
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 15px;
        .btn {
          width: 137px;
          height: 60px;
          border-radius: 25px;
          background: rgb(255, 166, 58);
          border: none;
          color: white;
          font-size: 18px;
          &:hover {
            color: red;
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
    margin-bottom: 500px;
  }
}
.half__box {
  width: 100%;
  // height: 323px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -120px;
  gap: 80px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.603);
  h2 {
    color: rgb(42, 54, 90);
    font-size: 36px;
  }
  .half__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    .half__card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      b {
        font-size: 48px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.service {
  margin-top: 200px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  .service__card {
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card__box {
      width: 275px;
      height: 250px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 5px;
      box-shadow: 0px 10px 100px 10px rgba(0, 0, 0, 0.603);
      .card__sircle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        background: gainsboro;
        flex-direction: column;
      }
    }
  }
  .future {
    margin-top: 200px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid red;
    flex-wrap: wrap;
    .card__box {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .future__card {
        margin-top: 60px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .future__img {
          width: 100%;
        }
        .future__text {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        b {
          font-size: 30px;
          color: rebeccapurple;
        }
        p {
          font-size: 16px;
        }
        .future__link {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          a {
            color: rebeccapurple;
            font-size: large;
          }
          &:hover {
            color: yellowgreen;
          }
        }
      }
    }
  }
}
.background__end {
  width: 100%;
  background: rgb(6, 61, 80);
  margin-top: 150px;
  .end {
    display: flex;
    align-items: center;
    padding: 102px 0;
    .human__text {
      display: flex;
      justify-content: center;
      gap: 15px;
      flex-direction: column;
      p {
        color: white;
        font-size: 16px;
      }
      img {
        width: 50px;
        height: 50px;
      }
      a:hover {
        color: aqua;
      }
    }
  }
}
.footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .footer__star {
    width: 25%;

    p {
      margin-bottom: 55px;
    }
  }
  .footer__section {
    // width: 25%;
    line-height: 2;
    a:hover {
      color: greenyellow;
    }
  }
}
